h1{
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 900;
    text-align: center;
    padding: 20px;
    color: #FFBE0F;
}
h4{
    font-family: 'Roboto Regular', sans-serif;
    background-color: #FFBE0F;
    color: #FFF;
    font-weight: 500;
    width: fit-content;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    padding: 0 20px;
    margin: 20px 0;
}

.accordion-header{
    font-family: 'Roboto Regular', sans-serif;
    font-weight: lighter;
    border-width: 6px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    transition: 0.5s;
}
.accordion-header:hover{
    transition: 0.5s;
    border-color: #FFBE0F;
}
.img{
    text-align: center;
    padding: 20px;
}
.content{
    margin-left: 6%;
}
#devs a{
    text-decoration: none;
    color: #FFBE0F;
}