/* IMPORTAÇÃO DA FONTE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

*{
    font-family: 'Roboto Regular', sans-serif;
}

/*Compras*/
.row .col-12 img{
    display: block;
    margin: auto;
    padding: 0px 0px 15px 0px;
    width: 100%;
}

/*PROMOÇÕES*/

#promoções a.destaque{
    display: block;
    background: #2D2C2C;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: white;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#promoções a.destaque:hover{
    box-shadow: 0px 0px  10px 0px rgba(0, 0, 0, 1);
    transform: scale(1.05);
}

#promoções h5{font-size: 16px;}

#promoções h1{
    font-size: 50px;
    color: #FFBE0F;
    text-transform: uppercase;
    font-weight: 600;
}

#promoções h4{
    display: inline;
    background-color: #FFBE0F;
    color: #FFF;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 5px;
}

#promoções p{
    color: white;
    font-size: 14px;
}
#promoções a.destaque .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
#promoções a.destaque .img-container img{ max-height: 160px; }

#promoções .destaque .btn{
    background-color: transparent;
    color: #FFBE0F;
    border-color: #FFBE0F;
    display: block;
    margin: auto;
} 
#promoções .destaque .btn:hover{
    background-color:#FFBE0F ;
    color: black;
    border-color: transparent;
    box-shadow: 0px 0px 5px black;
}
#promoções .col-12 .btn{
    background-color: #2D2C2C;
    color: white;
    border-color: transparent;
    box-shadow: 0px 0px 5px black;
    display: block;
    margin: auto;
    height: 55px;
    width: 200px;
} 
#promoções .col-12 .btn:hover{
    background-color: #FFBE0F;
    color: black;
    border-color: transparent;
    box-shadow: 0px 0px 5px black;
    width: 202px;
}

/*VENDAS*/
#vendas h1{
    font-size: 50px;
    color: #FFBE0F;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
#vendas h4{
    display: inline;
    background-color: #FFBE0F;
    color: #FFF;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 5px;
}

.btn-compra{
    color: #FFF;
    width: 100%;
    margin-top: 10px;
}
.btn-compra:hover{
    color: #ffffff;
    border: 1px solid #fac941;
    background-color: #fac941;
}

#vendas .card{
    width: 20rem;
    margin: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    background: #2D2C2C;
    transition: 0.5s;
}
#vendas .card-text{
    max-height: 4rem;
    color: #ffffff;
}
#vendas .card h5{
    font: 700 1.1em Arial; 
    color: #ffffff;
}
#vendas .card p{
    font: 100 0.9em Arial; 
    color: #ffffff;
    
}
#vendas .card:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}
#vendas .card img{
    height: 250px;
    width: 100%;
}

/*SOBRE O AUTOR*/
#autor img{
    display: inline;
}
#autor h1{
    font-size: 50px;
    color: #FFBE0F;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
#autor h4{
    display: inline;
    background-color: #FFBE0F;
    color: #FFF;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}
#autor .col-lg-9 p{
    color: black;
    text-align: justify;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    text-indent: 15px;
}
#autor .cslewis{
    margin: 0 23%;
    transition: 0.5s;
}
#autor .cslewis:hover{
    color: white;
    transition: 0.3s;
}
.lewis h5{
    padding-top: 10px;
    font: bold 20px Arial;
}
.lewis img{
    display: block;
    margin: auto;
}
#autor .lewis p{
    color: black;
    font: 500 16px Arial;
    text-align: justify;
    text-indent: 20px;
    margin: 0px 0px 0px 0px;
}

/*CONTATO*/
#contato{
    margin-top: 35px;
    width: 100%;
}
#contato .email {
    border-radius: 5px;
    background-color: #2D2C2C;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 30px;
  }

#contato .email img {
    position: absolute;
    left: 30px;
    top: -30px;
}

#contato .email form {
    width: 60%;
    display: flex;
}

#contato .email .form-control,
#contato .email .form-control::placeholder {
    background: none;
    color: #fff;
}
#contato button{
    margin-left: 5px;
}
#contato button:hover{
    background-color: #FFBE0F ;
}
#contato ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
#contato ul li{
    display: flex;
    list-style-type: none;
    margin-left: 25px;
}
#contato ul li:first-child{
    margin-left: 0;
}
#contato ul li a{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all ease-out 0.2s;
}
#contato ul li a:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
}
#contato ul li img{
    max-height: 20px;
}


