/* IMPORTAÇÃO DA FONTE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

/*Estilização Geral do Site*/
*{
    font-family: 'Roboto Regular', sans-serif;
}
a {
    text-decoration: none;
}

:root{
    --white: #f3f3f3;
    --primary-color: #f5b726;
    --tranparent : rgba(0, 0, 0, 0);
}

/* HEADER */
.main-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
header {
    background: linear-gradient(to bottom, rgba(46, 49, 55, 0.8), rgba(46, 49, 55, 0.6),rgba(46, 49, 55, 0.4),rgba(46, 49, 55, 0.2),rgba(46, 49, 55, 0));
    padding: 15px 0px;  
    width: 100%;
    position: fixed;
}
.btn-c, .btn-l{
    border: 2.2px solid var(--tranparent);
    border-radius: 7px;
    background-color: var(--tranparent);
    color: var(--white);
    font-weight: bold;
    padding: 4px 15px;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: 0.7s;  
}

.btn-c:hover, .btn-l:hover{
    border: 2.2px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: 4px 30px;
    transition: 0.8s;
}
/* MENU */
.headerMenu {
    display: inline-block;
    margin-top: 22px;
    text-align: right;
}
.headerMenu ul li {
    display: inline-block; /*Deixa os textos alinhados na direta , horizontal*/
}
.headerMenu i {
    border: 2.2px solid var(--tranparent);
    background-color: var(--tranparent);
    border-radius: 7px;
    color: var(--white);
    margin: 0 10px 0 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.7s;
}
.headerMenu i:hover{
    border: 2.2px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: 4px 30px;
    transition: 0.8s;
}

/* Introdução */
.intro {
    background: linear-gradient(to bottom,#f5b726 , #FEC63E);
    height: 95vh;
}
.intro div {
    height: 25%;
}
.intro-text{
    width: 50%;
    height: 60% !important;
}
@media(max-width: 650px){
    .intro-text{
        width: 100%;
    }
}

.intro-text h1 {
    color: #f5b726;
    width: 100%;
    text-transform: uppercase;
    background-color: var(--white);
    border-radius: 0 10px 50px 0;
    padding: 20px 40px;
    font-size: 2.7rem;
    font-weight: bold;
}
.intro-text p {
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin: 30px 0 30px 0;
    width: 100%;
    letter-spacing: .1em; /*Espaçamento entre as letras*/
    line-height: 20px; /*Altura da linha*/
    transition: 0.7s;
}
.intro-text p:hover {
    font-size: 22px;
    letter-spacing: .2em;
    transition: 0.7s;
}
.btn {
    border: 2.2px solid var(--white);
    border-radius: 17px;
    color: var(--white);
    font-weight: bold;
    padding: 9px 30px;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: block;
    margin: 0 auto;
    transition: 0.7s;
}
.btn:hover {
    border: 3px solid var(--white);
    background-color: var(--white);
    padding: 9px 50px;
    color: #f5b726;
    transition: 0.7s;
}