/* IMPORTAÇÃO DA FONTE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

/*Estilização Geral do Site*/
*{
    font-family: 'Roboto Regular', sans-serif;
}
a {
    text-decoration: none;
}

:root{
    /* Colors */
    --white               : #f3f3f3;
    --primary-color       : #f5b726;
    --primary-color-light : #FEC63E;
    --tranparent          : rgba(0, 0, 0, 0);

}

/* HEADER */
.main-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header {
    background: linear-gradient(to bottom, rgba(46, 49, 55, 0.8), rgba(46, 49, 55, 0.6),rgba(46, 49, 55, 0.4),rgba(46, 49, 55, 0.2),rgba(46, 49, 55, 0));
    padding: 15px 0px;  
    width: 100%;
    position: fixed;
}
.btn-c, .btn-l{
    border: 2.2px solid var(--tranparent);
    border-radius: 7px;
    background-color: var(--tranparent);
    color: var(--white);
    font-weight: bold;
    padding: 4px 15px;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: 0.7s;  
}

.btn-c:hover, .btn-l:hover{
    background-color: var(--primary-color);
    padding: 4px 30px;
    animation: btn2 .15s;
    transition: 0.8s;
}
/* MENU */
.headerMenu {
    display: inline-block;
    margin-top: 22px;
    text-align: right;
}
.headerMenu ul li {
    display: inline-block; /*Deixa os textos alinhados na direta , horizontal*/
}
.headerMenu i {
    border: 2.2px solid var(--tranparent);
    background-color: var(--primary-color);
    border-radius: 7px;
    color: var(--white);
    padding: 4px 15px;
    margin: 0 10px 0 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.7s;
}
.headerMenu i:hover{
    border: 2.2px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: 4px 30px;
    transition: 0.8s;
}

/* Introdução */
.intro {
    background: linear-gradient(to bottom,var(--primary-color) , var(--primary-color-light));
    height: auto;
    padding: 10% 0 3% 0;
}
.intro-text{
    width: 50%;
    margin-top: 35px;
}

.intro-text h1 {
    color: var(--primary-color);
    width: 100%;
    text-transform: uppercase;
    background-color: var(--white);
    border-radius: 0 10px 50px 0;
    padding: 20px 40px;
    font-size: 2.7rem;
    font-weight: bold;
}
.intro-text p {
    color:  var(--white);
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin: 30px 0 30px 0;
    width: 100%;
    letter-spacing: .1em; /*Espaçamento entre as letras*/
    line-height: 20px; /*Altura da linha*/
    transition: 0.7s;
}
.intro-text p:hover {
    font-size: 1.2rem;
    letter-spacing: .2em;
    transition: 0.7s;
}
.btn {
    border: 2.2px solid var(--white);
    border-radius: 17px;
    color: var(--white);
    font-weight: bold;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: block;
    margin: 0 auto;
    transition: 0.7s;
}
.btn:hover {
    border: 3px solid var(--white);
    animation: btn1 .2s forwards;
    padding: 9px 50px;
    color:  var(--primary-color);
    transition: 0.7s;
}

#logo{
    display: flex;
    justify-content: space-around;
    filter: drop-shadow(0 0 50px #fcdc93);
}

/* animations */
@keyframes btn1{
    20%{
        background: linear-gradient(to right, var(--white), var(--tranparent),var(--tranparent),var(--tranparent));
    }
    40%{
        background: linear-gradient(to right, var(--white), var(--white),var(--tranparent),var(--tranparent));
    }
    60%{
        background: linear-gradient(to right, var(--white), var(--white),var(--white),var(--tranparent));
    }
    100%{
        background: linear-gradient(to right, var(--white), var(--white),var(--white),var(--white));
    }
}
@keyframes btn2{
    0%{
        background: linear-gradient(to left, var(--tranparent), var(--tranparent),var(--tranparent),var(--tranparent));
    }
    20%{
        background: linear-gradient(to left, var(--primary-color), var(--tranparent),var(--tranparent),var(--tranparent));
    }
    40%{
        background: linear-gradient(to left, var(--primary-color), var(--primary-color),var(--tranparent),var(--tranparent));
    }
    60%{
        background: linear-gradient(to left, var(--primary-color), var(--primary-color),var(--primary-color),var(--tranparent));
    }
    100%{
        background: linear-gradient(to left, var(--primary-color), var(--primary-color),var(--primary-color),var(--primary-color));
    }
}

/* Mobile */
@media(max-width: 650px){
    .intro-text{
        width: 100%;
    }
    .intro{
        padding: 40% 0 3% 0;
    }
    #logo{
        margin-top: 50px; 
    }
}