/* Introdução */
.introducao{
    background-color: #FFA400;
    height: 30vh;
    width: 100%;
    margin-bottom: 20%;
}   
.introducao h1 {
    color: #FFF;
    text-align: center;
    padding: 20px 0 30px 0;
    font-size: 2.5rem;
    font-weight: bold;
}
.introducao h1:after{
    content: "Descubra qual seu nível de proximidade com Deus";
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    font-weight: lighter;
    letter-spacing: 2px;
    margin: 10px 0 0 0;
}
/* Div Conteudo */
.content{
    padding: 0 0 0 10%;
    transition: 1S;
} 

/* Botões Gerais e Laranja */

.perguntas{
    width: 80%;
}
.checkbox {
    display: inline-block;
}
.checkbox-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
.checkbox-label {
    position: relative;
    padding-left: 2.2em;
}
.checkbox-label::before {
    content: "";
    display: inline-block;
    cursor: pointer;
    height: 2em;
    width: 2em;
    background: rgba(255, 255, 255, 0);
    border: 3px solid #FFA400;
    border-radius: 200px;
    transition: all 0.2s ease;
    position: absolute;
}
.checkbox-label::after {
    content: "";
    cursor: pointer;
    position: absolute;
    font-size: 1em;
    color: #FFF;
    opacity: 0;
    transition: all 0.2s ease;
}
.checkbox-label:focus::before, .checkbox-label:hover::before {
    background: #FFA400;
}
.checkbox-input:checked + label::before {
    background: #FFA400;
    border-color: #FFA400;
  }
.checkbox-input:checked + label::after {
    opacity: 1;
}


/* CheckBox Vermelha  #af0404*/
.checkbox-Verm-label::before{
    background: #af040400;
    border-color: #af0404;
}
.checkbox-Verm-label:focus::before, .checkbox-Verm-label:hover::before {
    background: #af0404;
    border-color: #af0404;
}
.checkbox-Verm-input:checked + label::before {
    background: #af0404;
    border-color: #af0404;
  }
.checkbox-Verm-input:checked + label::after {
    opacity: 1;
}

/* CheckBox Cinza #414141*/
.checkbox-Cinza-label::before {
    background: #ff000000;
    border: 3px solid #414141;
}
.checkbox-Cinza-input:checked + label::before {
    background: #414141;
    border-color: #414141;
  }
.checkbox-Cinza-label:focus::before, .checkbox-Cinza-label:hover::before {
    background: #414141;
    border: 3px solid #414141;
}

/* Estilização Perguntas */
.quest{
    margin: 0 auto;  
    width: 85%;
}
@media all and (max-width: 576px){
    .quest{
        margin: 70% auto;
    }
    #box-2{
        margin-top: 10%;
    }
}
.quest h2{
    font-family: 'Roboto Regular', sans-serif;
    text-align: center;
    margin: 0 0 30px 0;
    color: #FFA400;
    font-weight: bold;
    font-size: 1rem;
}
#discordo{
    font-family: 'Roboto Regular', sans-serif;
    color: #af0404;
    text-transform: uppercase;
}
#concordo {
    font-family: 'Roboto Regular', sans-serif;
    color: #FFA400;
    text-transform: uppercase;
}
hr{
    color: #FFA400;
    margin: 80px 0 50px 7%;
    border: 2px solid #FFA400;
    width: 85%;
}

#result{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #FFA400;
}
#btn-result{
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 100px;
}
#btn-result:hover{
    color: white;
}

/*SubPagina*/
.text-reset{
    color: white;
}
.offcanvas{
    background-color: #414141;
}
.offcanvas-header h5{
    color: white;
    font: bolder 24px Arial;
    padding: 0px 0px 0px 0px;
    display: block;
}
.offcanvas-body #motivação{
    color: white;
    font: bold 16px Arial;
    text-align: center;
}
.offcanvas-body{
    padding: 0px;
    text-align: center;
}
.btn-close{
    background-image: url('../Assets/Testes/X.png');
}

/* Click menu changes */
.change-content{
    margin: 0;
    padding: 0;
}