.deviceMain{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #e0a928;
}
.newDevice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;

    width: 50vw ;
    height: 60vh;

    padding: 0 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.07);
    background-color: var(--white);
}
.newDevice h1 {
    font-size: 45px;
    font-weight: bold;

    color: var(--primary-color);
}
.newDevice p {
    font-size: 14px;
    text-align: center;
    font-weight: medium;

    width: 65%;
    color: var(--grey);
}
#codDevice{
    font-weight: 500;
}