.profile-main{
    display: flex;
    justify-content: center;

    gap: 4rem;
    width: 100vw;
    height: auto;

    background-color: #121214;
    color: #fff;
}

.profile-box{
    width: fit-content;
    min-width: 576px;
    height: fit-content;
    padding: 20px;
    margin: 5rem 0;
    border-radius: 0.25rem;

    background-color: #202024;
}
.profile-box h2{
    font-weight: 600;
    font-size: 2.3rem;
}
.profile-box h4{
    color: #585862;
    font-weight: 400;
    font-size: 1rem;
}
.profile-box div{
    background-color: #29292e;
    padding: 1rem;
    border-radius: 0.25rem;
    color: #fff;
}

.profile-menu{
    display: flex;
    flex-direction: column;

    top: 100px;
    width: 352px;
    position: sticky;
    overflow: hidden;
    padding: 0;
}
.profile-menu a + a{
    margin-top: 1rem;  
}
.profile-menu a{
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    color: #fff;

    transition: 0.2s;
}
.profile-menu a:hover{
    background-color: #3a3a3f;
    border-left: 2px solid var(--primary-color);

    transition: 0.2s;
}

/* input 2929e */