.underMobile{
  display: flex;
  justify-content: center; 

}
#logo-buscafe{
  width: 10%;
  height: 10%;
  margin-top: 80px;
} 

#buttonTop{
  margin-top: 36px;

  width: 49%;
  text-align: center;

  font-weight: 500;
  font-size: 20px;
  color: #F5B726;
}

.FooterTxt{
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 10px;
}

#buttonTop{
  font-weight: bold;
}

.buttonLocation{
  display: flex;
  justify-content: center;
}

.btnLocaliza{
  background-color: #F5B726;
  color: #Fff;

  text-transform: capitalize;
  font-size: 45px;
  text-align: center;
  padding: 10px 50px;

  border-radius: 50px 10px 50px 10px;
  border-color: white;
}
  