:root{
    /* Colors */
    --white               : #f3f3f3;
    --light-grey          : #EDE7E7;

    --primary-color       : #F3B72B;
    --primary-color-light : #FEC63E;
}

/* Scrol */
::-webkit-scrollbar{
    width: 10px;
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #f5b726;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    border-radius: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body{
    font: 400 16px 'Roboto' , sans-serif;
}